@tailwind base;
@tailwind components;
@tailwind utilities;

:root,
[data-theme="dark"] {
  --hub-bg: #09090b;
  --hub-card: #111113;
  --hub-card2: #18181b;
  --hub-border: #27272a;
  --hub-accent: #1d6f9f;
  --hub-accent-light: #38b6ff;
  --hub-text: #ffffff;
  --hub-text-dim: #a1a1aa;
}

[data-theme="light"] {
  --hub-bg: #ffffff;
  --hub-card: #f8f8f8;
  --hub-card2: #f4f4f5;
  --hub-border: #e4e4e7;
  --hub-accent: #0b6fcb;
  --hub-accent-light: #087fea;
  --hub-text: #18181b;
  --hub-text-dim: #52525b;
}

html,
body {
  background-color: var(--hub-bg);
  color: var(--hub-text);
  height: 100%;
}

body {
  padding-top: env(safe-area-inset-top);
  padding-bottom: env(safe-area-inset-bottom);
}

* {
  -webkit-tap-highlight-color: transparent;
}

input::placeholder {
  color: var(--hub-text-dim);
}
